@font-face {
  font-family: 'Futura PT Book';
  src: url('../assets/fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../assets/fonts/FuturaPT-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url('../assets/fonts/FuturaPT-Heavy.woff2') format('woff2'),
    url('../assets/fonts/FuturaPT-Heavy.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #111111;
  --primary-color: #007198;
  --ui-color: #F47220;
  --bg-color: #ffffff;
  --section-color: #DAF1F9;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Futura PT Book', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.h1 {
  font-family: 'Futura PT Heavy', Arial, sans-serif;
  font-size: 3.125rem;
  line-height: 120%;
  color: var(--text-color);
}

.h2 {
  font-family: 'Futura PT Heavy', Arial, sans-serif;
  font-size: 1.875rem;
  line-height: 120%;
  color: var(--text-color);
}

.h3 {
  font-family: 'Futura PT Heavy', Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 120%;
  color: var(--text-color);
}

.text {
  font-size: 1.125rem;
  line-height: 120%;
  color: var(--text-color);
}

.btn {
  padding: 5px 13px;
  border: 1px solid var(--ui-color);
  font-size: 0.875rem;
  line-height: 120%;
  color: var(--text-color);
  background-color: var(--ui-color);
  box-shadow: 3px 3px 5px rgba(244, 114, 32, 0.4);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
}

.btn:active {
  box-shadow: none;
}

.btn_transparent {
  background-color: transparent;
}

.btn_transparent:hover {
  background-color: var(--ui-color);
}
